# Python
__pycache__/
*.py[cod]
*.class
backend/venv/
backend/src/__pycache__
*.env
venv/
backend/venv/


# Node
frontend/node_modules/
frontend/build/
frontend/.env
frontend/package-lock.json

# IDE
.vscode/
.idea/

# Misc
.DS_Store
